:root {
  font-family: "Kanit", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  text-wrap: nowrap;
  font-size: 3dvh;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100dvw;
  height: 100dvh;
}

.text_ui_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.text_ui {
  position: inherit;
  display: flex;
  width: 4rem;
  height: 4rem;
  background-color: rgba(68, 218, 255, 0.856);
  border-radius: 3dvh;
  border: 2px solid rgba(95, 95, 95, 0.267);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgb(41, 177, 255);
}

.text_ui > h1 {
  font-size: 3rem;
  font-weight: 900;
}


h3 {
  margin: 0;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.7);
}

.text_ui_box {
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text_ui_box > h1 {
}

.text_ui_text {
  margin-top: 5%; 
  font-size: 2.45dvh;
}
.text_ui_description {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5dvh;
  stroke: black;
}